@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Noto+Serif:wght@700&family=Special+Elite&display=swap" rel="stylesheet');

/* common setting to all */

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
p,
.btn1,
.btn1a,
.popuptext,
.popup,
nav li,
span {
  font-family: "Special Elite", "Courier New", Courier, monospace;
  color: #555555;
}

body {
  padding-top: 10rem;
}

/* end of common setting to all */

/* nav bar */
nav li {
  font-size: 2rem;
}
/* end of nav bar*/

/* Game home page */

p {
  font-size: 1.5rem;
}

/*footer styling*/
.social-networks {
  text-align: center;
}

.social-networks,
li {
  display: inline;
}

.social-networks i {
  font-size: 2.5rem;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1rem;

  color: #696666;
  margin-bottom: -0.2rem;
}

.ptext {
  color: #696666;
  text-align: center;
  font-family: "karla", "sans-serif";
  font-size: 1.5rem;
}

.makerlink {
  color: black;
  text-align: center;
  font-family: "karla", "sans-serif";
  font-size: 1.5rem;
}
